<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>

<h1>COMUNÍQUESE CON NOSOTROS AL 643-411 O 
    ESCRÍBANOS AL CORREO: cctecnica@gmail.com
</h1>

<p style="height: 800px;"></p>
<%- include('pie') -%>
<%- include('footer') -%>