<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>

<h1> El centro de CCTL es un centro de desarrollo educativo e integral, destacado por las actividades, donde los alumnos demuestra todo su potencial y formación adquirida de parte de docentes enfocados en lograr el máximo desarrollo de las capacidades de los jóvenes </h1>

<p style="height: 800px;"></p>
<%- include('pie') -%>
<%- include('footer') -%>